body {
    background: #F4F4F4;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

::selection {
    background: #800000; /* maroon/redish */
    color: #fff;          
}

h1 {
    color: #B83F45;
}

.container {
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

#myInput {
    padding: 10px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
}

#myInput::placeholder {
    font-style: italic;
    color: #888; 
}


#myInput:focus {
    border: 2px solid #B83F45;
}

.btnRow {
    margin-top: 20px;
}

.btnRow button {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    display: inline-block;
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color 0.2s; 
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.btnRow button:hover {
    border-color:#800000;
    transform: translateY(-2px);
}

.btnRow button:active {
    border-color: #B83F45;
    background-color: #f8f8f8;
    color: #B83F45;
    transform: translateY(0);
}
